<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>{% block title %}{% endblock %} - Wavvi</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="{{ body_class|default('') }}">

    {% block content %}{% endblock %}

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
    {% block scripts %}
    {% endblock %}

</body>
</html>